/*betűtípusok*/
@font-face{
    font-family: "vinti";
    src: url("/font/vinti.ttf")
}
@font-face{
    font-family: "vintage";
    src: url("/font/vintage.ttf")
}

/* első oldalon SPJ szöveg*/
#spj{
    color: #b89433;
    font-family: "vintage";
    font-size: 70px;
    line-height: 100px;
    background-color: black;
    margin: 20px;
    }

 /*oldalakon a címek*/
#pages{
    color: #b89433;
    font-family: "vintage";
    font-size: 70px;
    line-height: 100px;
    background-color: black;
    margin: 20px;
}

/*wiki idézet*/
#wiki{
    color: #b89433;
    background-color: black;
    text-align: justify;
    margin: 20px;
    size: 80%;
}
em{
    color:#b89433;
    font-family: "vinti";
    font-weight: 600;
    margin: 10px;
}
/*logo*/
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:10px;
}
/* képek az ékszerekről*/
div.gallery {
    margin: 5px;
    border: 1px solid #b89433;
    float: left;
    width: 20%;
    margin: 20px

  }
  
  div.gallery:hover {
    border: 1px solid #b89433;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10%;
    text-align: center;
    font-family: "vinti";
    font-size: 180%;
    width: 100%;
    color: #b89433;
    background-color: black;
  }

  /*desc %-os kicsinyítése - sikertelen
  @media screen and (max-width: 640px) {
    .sqs-lightbox-meta {
        image-rendering: 30% !important;   
    }}
*/

/*mobil-tabi nézet - hasznos, de most nem kell*/
/* For mobile phones: 
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    For tablets:
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    For desktop:
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

*/

/*
kép háttérnek - nem szép, formázni kell még a képet

html{
    background-image:url("../img/back.jpg");
}

plusz a fekete hátté megoldás sem elegáns, hogy nem css-ben van (itt nem működik)

html{
    background-color: black;
}
*/

/*menü*/
#nav{
    
    font-family: "vintage";
    background-color: black;
    text-align: justify;
    border-color: black;
}

#name{
    color: #b89433;
    background-color: black;
    font-size: 30px;
    text-align: justify;
}
/*contacts táblázat
#about{
    color: #b89433;
    background-color: black;
    margin: 20px;
    line-height: 30px;
    font-size: 25px;
    font-family: "vinti";
    width: 34%;
    height: 45px;
}

thead{
    font-family: "vinti";
}
*/
/*mailcím beírva - kivettem
#mailaddress{
    color: #b89433;
    background-color: black;
    line-break: 50px;
    font-size: 30px;
    font-family: "vinti";
    width: 34%;
    height: 45px;
    padding-top: 50px;
}
*/

div.icon{
    margin-left: 50px;
    padding-bottom: 50px;
}

/*mailto */

#mailto{
    color: #b89433;
    font-family: "vinti";
    font-size: 30px;
    margin-top: 50px;
    padding-bottom: 5px;
    
}

#daten{
    color: #b89433;
    font-family: "vinti";
    font-size: 20px;
    height: 25px;
}
#email{
    background-color: #b89433;
    line-height: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

#username{
    background-color: #b89433;
    line-height: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    }

   
#blabla{
    background-color: #b89433;
    line-height: 20px;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 500px;
    height: 300px;
    margin-bottom: 20px;

}
#send{
    background-color: #b89433;
    color: black;
    font-family: "vinti";
    font-size: 30px;
    margin-bottom: 20px;
}

